dedupe-peer-dependents=false # Without this, pnpm will always install all packages when `pnpm booststrap:root` runs. See https://github.com/pnpm/pnpm/issues/6300.
extend-node-path=false # Prevent `pnpm` from allowing binaries to require transitive dependencies through `node_modules/.pnpm/node_modules` when on files that are inside workspace packages.
min-release-age=3 #Cooldown period set to 3 days as described https://cooldowns.dev
onlyBuiltDependencies[]=@apollo/protobufjs
onlyBuiltDependencies[]=@jbangdev/jbang
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@playwright/browser-chromium
onlyBuiltDependencies[]=@scarf/scarf
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=@vscode/vsce-sign
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=core-js-pure
onlyBuiltDependencies[]=cypress
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=keytar
onlyBuiltDependencies[]=lmdb
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=nice-napi
onlyBuiltDependencies[]=puppeteer
