name: "CI :: OSL :: Sync Main"

on:
  schedule:
    - cron: "0 2 * * 1"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  actions: write

concurrency:
  group: sync-main
  cancel-in-progress: true

jobs:
  sync_main_apache:
    if: ${{ vars.ENABLE_OSL_SYNC_MAIN == 'yes' }}
    name: Sync main branch
    runs-on: ubuntu-latest

    steps:
      - name: Merge local branch with upstream/main (no commit)
        id: merge_upstream_main
        uses: kiegroup/kie-ci/.ci/actions/main-sync/merge@main
        with:
          exclude_paths: ${{ vars.MAIN_SYNC_WORKFLOW_EXCLUDE_PATHS }}
          upstream_remote: ${{ vars.UPSTREAM_URL }}
          github_token: ${{ secrets.KIE1_TOKEN }}

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: "Bootstrap"
        env:
          MAVEN_ARGS: "-B"
          MAVEN_OPTS: "-Xmx3g"
        uses: ./.github/actions/bootstrap
        with:
          pnpm_filter_string: ""

      - name: Create a PR to sync main branch with upstream/main
        uses: kiegroup/kie-ci/.ci/actions/main-sync/create-pr@main
        with:
          pr_reviewers: ${{ vars.SYNC_REVIEWERS }}
          sync_branch: ${{ steps.merge_upstream_main.outputs.sync_branch }}
          github_token: ${{ secrets.KIE1_TOKEN }}
